@use 'base/variables' as v;
@use 'base/mixins' as m;

.form{
  margin-top: 3rem;
  .field{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    label{
      flex: 0 0 10rem;
    }

    input{
      flex: 1;
      border: none;
      outline: none;
      background-color: lighten(v.$gray, 40%);
      padding: 1rem;
    }
  }
}