@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard{
  background-color: v.$grayLight;
  display: flex;
  height: 100vh;

  @include m.tablet{
    flex-direction: column;
  }

  .principal{
    flex: 1;
    overflow: scroll;

    .content{
      padding: 2rem;

      .page-name{
        font-size: 2.8rem;
        text-align: center;
      }
    }

    .form{
      input:not([type="submit"]){
        background-color: v.$white;
      }
      input[type="submit"]{
        @include m.button(v.$indigo, v.$white);
        padding: 1rem;
      }
    }
  }
}